* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.barraInicio {
    background: #06745C;
    background: linear-gradient(90deg, rgba(6, 116, 92, 1) 0%, rgba(66, 214, 113, 1) 100%);
    height: 120px; /* Altura del header */
    width: 100vw; /* Ancho del header */
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    color:antiquewhite;
    padding:10px 20px;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 1px 2px 8px rgb(2, 0, 0);
    color: rgb(255, 255, 255);
}
.barraInicioIzquierda{
    display: flex;
    align-items: center;
}
.logo{
    height: 100px;
    width: auto;
    margin-bottom: auto;
}