* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background: #f1eadd;
    color: #333;
    margin: 0;
    /*padding: 20px*/
}
.container{
    width: 100vw;
    margin-top: 125px;
    height: auto;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

/*------------------------Header------------------------------------------------------*/
header{
position: fixed;
z-index: 999;
top: 0;
}
.barraInicio {
    background: #06745C;
    background: linear-gradient(90deg, rgba(6, 116, 92, 1) 0%, rgba(66, 214, 113, 1) 100%);
    height: 125px; /* Altura del header */
    width: 100vw; /* Ancho del header */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color:antiquewhite;
    /*padding: 10px 20px*/
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 1px 2px 8px rgb(2, 0, 0);
    color: rgb(255, 255, 255);
    z-index: 999;
}
.barraInicioIzquierda{
    display: flex;
    align-items: center;
    margin-left: 2%;
}
.logo{
    height: 100px;
    width: auto;
    margin-bottom: auto;
}
.barraInicioDerecha{
    display: flex;
    margin-right: 2%;
}
    .barraInicio button {
            background-color: #ffffff;
            color: #06745c;
            border: none;
            padding: 10px 20px;
            margin-left: 10px;
            font-size: 24px;
            cursor: pointer;
            border-radius: 15px;
        }
    .barraInicio button:hover { /*Hace que cambie de color cuando se toca el button con el mouse*/
        background-color: #59da78;
        color: rgb(0, 0, 0);
        transform: scale(1.05);
        box-shadow: 0 6px 15px rgba(0,0,0,0.4);
    }
    .Buscar{
        margin: 0;
        padding: 0;
        display: flex;
        width: 100%;
        height: 75px;
        background-color: rgb(197, 197, 197);
    }
    /*------------------------Main------------------------------------------------------*/
    main{
        width: 90%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    /*-------------------------Inicio-------------------------------------------------------*/
       .barraImagen{
        background-image: url(/public/Images/bannerSports.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        justify-content: center;
        align-items: center;
        height: 250px;
        width: 100vw;
        display: flex;
        font-size: 60px;
        color: rgb(248, 245, 245);
        font-weight: bold;
        text-shadow: 1px 1px 4px rgb(0, 0, 0);
    }
        .opcionesInicio {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        gap: 40px;
    }
    .opcionesInicio button {
        background-color: #ffffff;
        color: #06745c;
        border: none;
        padding: 20px 30px;
        font-size: 22px;
        font-weight: bold;
        border-radius: 15px;
        cursor: pointer;
        box-shadow:0 4px 6px rgba(0, 0, 0, 0.3);
        transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
    }
    .opcionesInicio button:hover { /*Hace que cambie de color cuando se toca el button con el mouse*/
        background-color: #59da78;
        color: rgb(0, 0, 0);
        transform: scale(1.05);
        box-shadow: 0 6px 15px rgba(0,0,0,0.4);
    }
    #soporte {
        background-color: #ffffff;
        color: #06745c;
        border: none;
        padding: 20px 30px;
        font-size: 22px;
        font-weight: bold;
        border-radius: 15px;
        cursor: pointer;
        box-shadow:0 4px 6px rgba(0, 0, 0, 0.3);
        transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
    }
    #soporte:hover { /*Hace que cambie de color cuando se toca el button con el mouse*/
        background-color: #59da78;
        color: rgb(0, 0, 0);
        transform: scale(1.05);
        box-shadow: 0 6px 15px rgba(0,0,0,0.4);
    }
    #AccionesAdm {/*Ocultar boton de acciones de admin, solo visible si ingresa un admin*/
        display: none;/*Cambiar display en logica*/
    }
    #soporte {
        position:fixed;
        bottom:20px;
        right:20px;
    }
    .modalSupport {
        display: none; 
        position: fixed; 
        z-index: 1000; 
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%;
        background-color: rgba(0,0,0,0.6); 
    }
    .modalSupportInfo {
        background-color: #159281;
        margin: 10% auto; 
        padding: 25px;
        width: 400px; 
        border-radius: 15px;
        text-align: center;
        color: white;
        font-size: 25px;
    }
    .modalSupportInfo button {
        background-color: #ffffff;
        color: #06745c;
        border: none;
        padding: 10px 20px;
        margin-top: 20px;
        font-size: 20px;
        cursor: pointer;
        border-radius: 15px;
    }
    .modalSupportInfo button:hover { /*Hace que cambie de color cuando se toca el button con el mouse*/
        background-color: #59da78;
        color: rgb(0, 0, 0);
        transform: scale(1.05);
        box-shadow: 0 6px 15px rgba(0,0,0,0.4);
    }
    /*------------------------Iniciar sesión ----------------------------------------------*/
.barraInfo {
        background-color: #bddcee;
        display: block;
        padding: 20px;
        border-radius: 15px;
        border: 3px solid #052e6b;
        margin: 30px auto;
        width: 50%;
        align-content: center;
        color: rgb(0, 0, 0);
        font-size: 20px;
        font-weight: bold;
        text-shadow: 1px 2px 8px rgb(202, 231, 245);
    }
    .barraInfo input[type="text"], .barraInfo input[type="password"] {
        width: 50%;
        height: 20px;
        padding: 15px;
        margin-top: 10px;
        border: none;
        border-radius: 5px;
        font-size: 20px;
    }
    .barraInfo button {
        background-color: #ffffff;
        color: #000000;
        border: none;
        padding: 10px 20px;
        margin-top: 20px;
        font-size: 24px;
        cursor: pointer;
        border-radius: 15px;
    }
    .barraInfo button:hover { /*Hace que cambie de color cuando se toca el button con el mouse*/
        background-color:#59da78;
        color: rgb(0, 0, 0);
        transform: scale(1.05);
        box-shadow: 0 6px 15px rgba(0,0,0,0.4);
    }
    .barraInicioDerecha img {
        height: 125px;
    }
    .barraInfo{
        text-align: center;
    }
    .logform{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    /*------------------------Registrarse----------------------------------------------*/
    .barraInfo input[type="email"] {
        width: 50%;
        height: 20px;
        padding: 15px;
        margin-top: 10px;
        border: none;
        border-radius: 5px;
        font-size: 20px;
        display: block;
    }
    .barraInfo input[type="tel"] {
        width: 50%;
        height: 20px;
        padding: 15px;
        margin-top: 10px;
        border: none;
        border-radius: 5px;
        font-size: 20px;
        display: block;
    }
    .regisform{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .regisform input {
        margin-bottom: 5px;
    }

    /*------------------------modificarReserva----------------------------------------------*/

    /*------------------------VerPolideportivo----------------------------------------------*/
    .deportes{
        margin-top: 80px;
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: repeat(4, 2fr);
        grid-template-areas: "layout1 layout2" 
                             "layout3 layout4"
                             "layout5 layout6"
                             "layout7 layout8";
        column-gap: 30px;
        row-gap: 60px;
    }
    .imagen1{
        width: 275px;
        height: 100%;
        overflow: hidden;
        background-image: url(/public/Images/basketball.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-right: 15px;
    }
    .imagen2{
        width: 275px;
        height: 100%;
        overflow: hidden;
        background-image: url(/public/Images/basketball2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-right: 15px;
    }
    .imagen3{
        width: 275px;
        height: 100%;
        overflow: hidden;
        background-image: url(/public/Images/basketball2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-right: 15px;
    }
    .imagen4{
        width: 275px;
        height: 100%;
        overflow: hidden;
        background-image: url(/public/Images/basketball2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-right: 15px;
    }
    .imagen5{
        width: 275px;
        height: 100%;
        overflow: hidden;
        background-image: url(/public/Images/basketball2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-right: 15px;
    }
    .imagen6{
        width: 275px;
        height: 100%;
        overflow: hidden;
        background-image: url(/public/Images/basketball2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-right: 15px;
    }
    .imagen7{
        width: 275px;
        height: 100%;
        overflow: hidden;
        background-image: url(/public/Images/basketball2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-right: 15px;
    }
    .layout1{
        grid-area: layout1;
        background-color: rgb(213, 250, 238);
        border-radius: 61.14px;
        overflow: hidden;
        height: 300px;
    }
    .layout2{
        grid-area: layout2;
        background-color: rgb(213, 250, 238);
        border-radius: 61.14px;
        overflow: hidden;
        height: 300px;
    }
    .layout3{
        grid-area: layout3;
        background-color: rgb(213, 250, 238);
        border-radius: 61.14px;
        overflow: hidden;
        height: 300px;
    }
    .layout4{
        grid-area: layout4;
        background-color: rgb(213, 250, 238);
        border-radius: 61.14px;
        overflow: hidden;
        height: 300px;
    }
    .layout5{
        grid-area: layout5;
        background-color: rgb(213, 250, 238);
        border-radius: 61.14px;
        overflow: hidden;
        height: 300px;
    }
    .layout6{
        grid-area: layout6;
        background-color: rgb(213, 250, 238);
        border-radius: 61.14px;
        overflow: hidden;
        height: 300px;
    }
    .layout7{
        grid-area: layout7;
        background-color: rgb(213, 250, 238);
        border-radius: 61.14px;
        overflow: hidden;
        height: 300px;
    }

    .layout-main{
        display: flex;
        flex-wrap: wrap;
        height: 100%;
    }
    .layout-texto{
        padding-top: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 40px 0;
    }
    .layout-texto p{
        font-size: 20px;
    }
    /*------------------------Footer------------------------------------------------------*/
    footer{
    width: 100%;
    height: auto;
    background: #343434;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    min-width: 80%;
    flex-wrap: wrap;
    padding: 0 80px;
    margin-top: 44px;
}
.ficha-1{
    width: 100%;
    height: auto;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom: #fff solid 1px;
}
.ficha-1 h2{
    font-size: 24px;
}
.ficha-1 a{
    text-decoration: none;
    color: #fff;
    padding: 10px 0 0 0;
    font-size: 28px;
    margin: 10px;
}
.ficha-2{
    width: 100%;
    height: auto;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    border-bottom: #fff solid 1px;
}
.ficha-3{
    width: 100%;
    height: auto;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}
.ficha-3 h2{
    font-size: 20px;
}